.topic{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    display: inline-block;
    
}

pre.code {
    background-color: #eee;
    border: 1px solid #999;
    display: inline-block;
    padding: 20px;
    width: 100%;
    overflow:scroll;
    /* height:500px; */
    
}

pre.scrollcode{
    background-color: #eee;
    border: 1px solid #999;
    display: inline-block;
    padding: 20px;
    width: 100%;
    overflow:scroll;
    height:500px;
}
.description{
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
    display: inline-block;
    width: 100%;
}
.image{
    position: relative;
    left: 0px;		
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    padding: 20px;
    display: inline-block;
}

img {
    width: 480px;
    height: 360px;
  }

.subtopic{
    padding: 20px;
    text-decoration: underline;
    display: inline-block;
}

.link{
    padding: 20px;
    display: inline-block;
}